{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style type="text/css">
        .cus {
            position: relative;
            top: -16px;
        }
    </style>
{% endblock %}
{% block title %}
    <title>All Bottles</title>
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-3  d-sm-none d-md-block">
                    <div class="text-center">
                        <h3>Your Profile</h3>
                        <hr>
                    </div>
                    <div class="card">
                        <div class="text-center card-header">
                            <a style="color: black;font-size: 1.3rem">{{ user.name }} </a>
                        </div>
                        <div class="card-body">

                            <p class="card-text">Username:&nbsp;&nbsp;{{ user.username }} </p>
                            <p class="card-text">email:&nbsp;&nbsp;{{ user.email }} </p>
                            <p class="card-text">CNIC:&nbsp;&nbsp;{{ user.cnic }} </p>
                            <p class="card-text">Phone Number:&nbsp;&nbsp;{{ user.PhoneNo }} </p>


                            <div class="text-center card-header bg-transparent">
                                <a href='{% url 'adminProfile' %}' class="btn btn-dark">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 ">

                    <div class="text-center">
                        <h3>Bottles Record</h3>
                    </div>
                    <hr>


                    <form method="post">{% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Available</th>
                                <th scope="col">Given</th>
                                <th scope="col">Empty</th>
                                <th scope="col">Filled</th>
                                <th scope="col">Total Amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for items in bottles %}

                                <tr>
                                    {% load mathfilters %}
                                    <td>{{ items.name }}</td>
                                    <td>{{ items.total|sub:items.distributed }}</td>
                                    <td>{{ items.distributed }}</td>
                                    <td>{{ items.total|sub:items.filled |sub:items.distributed }}</td>
                                    <td><input type="number" value="{{ items.filled }}" name="filled"
                                               class="form-control"></td>
                                    <td><input type="number" value="{{ items.total }}" name="total"
                                               class="form-control"></td>
                                    <input type="hidden" name="id" value="{{ items.id }}">
                                    <td><input type="submit" class="btn btn-dark"></td>

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    {% if error %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}



