{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>All Customers</title>
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                   <div class="col-3  d-sm-none d-md-block">
            <div class="text-center">
                <h3>Your Profile</h3><hr>
            </div>
            <div class="card">
              <div class="text-center card-header">
                <a  style="color: black;font-size: 1.3rem" >{{user.name}} </a>
            </div>
              <div class="card-body">

                            <p class="card-text">Username:&nbsp;&nbsp;{{ user.username }} </p>
                            <p class="card-text">email:&nbsp;&nbsp;{{ user.email }} </p>
                            <p class="card-text">CNIC:&nbsp;&nbsp;{{ user.cnic }} </p>
                            <p class="card-text">Phone Number:&nbsp;&nbsp;{{ user.PhoneNo }} </p>



                  <div class="text-center card-header bg-transparent">
                <a href = '{% url 'adminProfile' %}'   class="btn btn-dark">View Profile</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 ">

                    {% if request.user.is_authenticated %}
                        <div class="text-center">
                            <h3>Cities List</h3>
                            <hr>
                        </div>

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">City Name</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for city in cities %}
                                <tr>
                                    <td><a href="{% url 'all_areas' city.city %}">
                                        <h5>{{ city.city }}</h5></a>
                                    </td>

                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    {% endif %}
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}



