a{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}

{% block content %}
    <div class="container">
    <div class="text-center">
        <h1>{{ employee.name }}</h1>
    </div>
    <hr>
    <div class="container">

        <div class="row">
            <div class="col-md-6 text-center">
                <h5>CNIC:</h5>
            </div>
            <div class="col-md-6">
                <p>{{ employee.cnic }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Email:</h5>
            </div>
            <div class="col-md-6">
                <p>{{ employee.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Phone No:</h5>
            </div>
            <div class="col-md-6">
                <p>{{ employee.PhoneNo }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Address :</h5>
            </div>
            <div class="col-md-6">
                <p>{{ employee.address }}</p>
            </div>
        </div><br><hr>
        <div class="row">


            <div class="row">
                <div class="col-12">
                    <form method="post" action="" novalidate>{% csrf_token %}
                        {% load crispy_forms_tags %}
                        <br>
                        {{ form|crispy }}
                        <button type="Submit" class="btn btn-dark">Save</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}