{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
    <div class="container text-center ">
    <form method="post">{% csrf_token %}
        <div class="col-12">
                <h3 class="txt1">
                            Old Password
                </h3>
            </div>
    <input type="Password" required name="old" minlength="8" placeholder="Old Password" class="col-6 py-3 my-5">
            <div class="col-12">
                <h3 class="txt1">
                            New Password
                </h3>
            </div>
    <input type="Password" required minlength="8" name="new1" placeholder="New Password" class="col-6 py-3 my-4">
    <input type="Password" required minlength="8" name="new2" placeholder="Confirm Password" class="col-6 py-3 mb-5">
    <div class="col-12">
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        {% if message %}
            <p class="text-success">{{ message }}</p>
        {% endif %}
        <input type="submit" class="btn btn-dark my-5">

    </div>
    </form>
    </div>
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}